.highlight {
    background-image: linear-gradient(120deg, #f2fa84 0%, #f4ea8f 100%);
    background-repeat: no-repeat;
    background-size: 0% 95%;
    background-position: 0 95%;
    transition: background-size 0.5s ease-in;
}

.highlight.highlighted {
    background-size: 100% 95%;
}
