html {
  scroll-behavior: smooth;
}

body {
    font-family: Inter, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

p {
  margin-bottom: 1.5rem;
}

a.bare-link:hover, a.bare-link:active, a.bare-link:link, a.bare-link:visited {
  text-decoration: none;
  color: black;
}

.navbar {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

/* .card-text {
  color:#434343;
} */

.shadow-subtle {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.08) !important;
}

.right-nav-1 {
  position: absolute;
  right: 260px;
  top: 40px;
  padding: 0 0 0 0;
  transition: all 300ms cubic-bezier(.165, .84, .44, 1);
}

.right-nav-1:hover {
  background-color: #7f7f7f15;
  border-radius: 4px;
  padding: 10px 20px;
  right: 240px;
  top: 30px;
}

.right-nav-2 {
  position: absolute;
  right: 180px;
  top: 40px;
  padding: 0 0 0 0;
  transition: all 300ms cubic-bezier(.165, .84, .44, 1);
}

.right-nav-2:hover {
  background-color: #7f7f7f15;
  border-radius: 4px;
  padding: 10px 20px;
  right: 160px;
  top: 30px;
}

.right-nav-3 {
  position: absolute;
  right: 85px;
  top: 40px;
  padding: 0 0 0 0;
  transition: all 300ms cubic-bezier(.165, .84, .44, 1);
}

.right-nav-3:hover {
  background-color: #7f7f7f15;
  border-radius: 4px;
  padding: 10px 20px;
  right: 65px;
  top: 30px;
}

.content-wrapper {
  max-width: 75%;
  margin: auto;
}

h1,h2,h3,h4,h5, .page-title {
  font-weight: 400;
  font-family: Rubik, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

@media only screen and (max-width: 550px) {
  .page-title {
    display: none;
  }
}


.hero-text h4{
  font-weight: 300 !important;
  font-family: Inter !important;
  width: 30vw;
  line-height: 1.5;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.67rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.37rem;
}
h5 {
  font-size: 1.25rem;
}

.px-5em {
  padding-left: 5rem;
  padding-right: 5rem;
}
.px-10em {
  padding-left: 10rem;
  padding-right: 10rem;
}
.pl-5em {
  padding-left: 5rem;
}
.pr-4rem {
  padding-right: 4rem;
}

.page-title {
  padding-left: 0.5em;
  font-weight: 500;
  font-size: large;
}

ul.contact {
  list-style-type: none !important;
  padding-left: 1em !important;
  line-height: 2;
}

/* .nav-button {
  margin: 4px;
} */
.zoom {
  transition: transform 0.3s ease-in-out;
}
.zoom:hover {
  transform: scale(1.025);
}
.frosted-glass {
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(5px);
}
#navbar {
    top: 0;
    transition: top 0.3s linear;
}
#navbar.scroll-up {   
    top: -20rem !important;
}

button.navbar-toggler {
  border: none;
}
button.navbar-toggler:focus {
  outline: none;
}

/* button.navbar-about {
  border: none;
  width: 16rem;
  height: 3rem;
  color:  #101077;  
  background-color: rgba(199, 192, 243, 0.815);
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
}
button.navbar-about:hover {
  color: #f8f8f8;
  background-color: rgba(105, 90, 205, 0.815);
} */
/* button.navbar-about:focus {
  outline: none;
} */

button.contact {
  border: none;
  width: 100%;
  height: 4rem;
  color: #f8f8f8;
  background-color: rgba(105, 90, 205, 0.815);
  transition: background-color 0.2s ease-in-out;
}
button.navbar-toggler:focus {
  outline: none;
}
button.contact:hover {
  background-color: slateblue;
}

.img-corner {
  border-radius: 0 !important;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  color: white;
}

.outstanding-block {
font-weight: 800;
font-size: larger;
color: #44d;
line-height: 1.5;
}

.bg-offwhite {
  background-color: #f8f8f8;
}

.google-slides {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.toc-entry a.current {
  font-weight: 600;
  color: #555;
}

/* Dark theme styles */
[data-theme="dark"] {
  background-color: #121212 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #121212 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .border-top {
  border-top-color: #777 !important;
}

[data-theme="dark"] .border-bottom {
  border-bottom-color: #777 !important;
}

[data-theme="dark"] .border-left {
  border-left-color: #777 !important;
}

[data-theme="dark"] .border-right {
  border-right-color: #777 !important;
}

[data-theme="dark"] .card {
  background-color: #222;
}

[data-theme="dark"] .nav-button {
  background-color: white;
}

[data-theme="dark"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

[data-theme="dark"] .frosted-glass {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
}

[data-theme="dark"] .bg-offwhite {
  background-color: #222;
}

[data-theme="dark"] a.bare-link:hover, [data-theme="dark"] a.bare-link:active, [data-theme="dark"] a.bare-link:link, [data-theme="dark"] a.bare-link:visited {
  text-decoration: none;
  color: white;
}

[data-theme="dark"] .toc-entry a.current {
  font-weight: 600;
  color: #ddd;
}
