.section-nav {
    padding-left: 0;
    border-left: 1px solid #eee
}

.section-nav ul {
    padding-left: 1rem
}

.section-nav ul ul {
    display: none
}

.toc-entry {
    display: block
}

.toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #99979c
    font-weight: 500;
    color: #999;
}

.toc-entry a:hover {
    color: #007bff;
    text-decoration: none
}

.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

@media (min-width: 768px) {
    .bd-sidebar {
        border-right:1px solid rgba(0,0,0,.1)
    }

    @supports ((position: -webkit-sticky) or (position:sticky)) {
        .bd-sidebar {
            position:-webkit-sticky;
            position: sticky;
            top: 4rem;
            z-index: 1000;
            height: calc(100vh - 4rem)
        }
    }
}

@media (min-width: 1200px) {
    .bd-sidebar {
        -ms-flex:0 1 320px;
        flex: 0 1 320px
    }
}

.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .bd-links {
            max-height:calc(100vh - 9rem);
            overflow-y: auto
        }
    }
}

@media (min-width: 768px) {
    .bd-links {
        display:block!important
    }
}

.bd-search {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid rgba(0,0,0,.05)
}

.bd-search .form-control:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121,82,179,.25)
}

.bd-search-docs-toggle {
    line-height: 1;
    color: #212529
}

.bd-sidenav {
    display: none
}

.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 500;
    color: rgba(0,0,0,.65)
}

.bd-toc-link:hover {
    color: rgba(0,0,0,.85);
    text-decoration: none
}

.bd-toc-item.active {
    margin-bottom: 1rem
}

.bd-toc-item.active:not(:first-child) {
    margin-top: 1rem
}

.bd-toc-item.active>.bd-toc-link {
    color: rgba(0,0,0,.85)
}

.bd-toc-item.active>.bd-toc-link:hover {
    background-color: transparent
}

.bd-toc-item.active>.bd-sidenav {
    display: block
}

.bd-sidebar .nav>li>a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
    color: rgba(0,0,0,.65)
}

.bd-sidebar .nav>li>a:hover {
    color: rgba(0,0,0,.85);
    text-decoration: none;
    background-color: transparent
}

.bd-sidebar .nav>.active:hover>a,.bd-sidebar .nav>.active>a {
    font-weight: 500;
    color: rgba(0,0,0,.85);
    background-color: transparent
}

.bd-footer {
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7
}

.bd-footer a {
    font-weight: 500;
    color: #495057
}

.bd-footer a:focus,.bd-footer a:hover {
    color: #007bff
}

.bd-footer p {
    margin-bottom: 0
}

@media (min-width: 576px) {
    .bd-footer {
        text-align:left
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem
}

.bd-footer-links li {
    display: inline-block
}

.bd-footer-links li+li {
    margin-left: 1rem
}

.bd-example-row .row>.col,.bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2)
}

.bd-example-row .row+.row {
    margin-top: 1rem
}

.bd-example-row .flex-items-bottom,.bd-example-row .flex-items-middle,.bd-example-row .flex-items-top {
    min-height: 6rem;
    background-color: rgba(255,0,0,.1)
}

.bd-example-row-flex-cols .row {
    min-height: 10rem;
    background-color: rgba(255,0,0,.1)
}

.bd-highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15)
}
