body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #444444;
}

.centercontent {
    flex-basis: 900px;
    max-width: 960px;
    margin: 0 auto;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
}

header {
    padding-top: 5.5rem;
}

header .mainhead, header .subhead {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.mainhead h1 {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
    margin-bottom: 0;
}

.subhead .right {
    text-align: right;
}

.avatar {
    width: 3.75rem;
    margin-top: 0.9rem; /* Hack to push avatar down */
    border-radius: 50%;
}

.right a {
    color: slateblue;
    text-decoration: none;
    font-weight: 700;
}

.right a:hover {
    background-color: rgba(183, 190, 231, 0.3);
}

.note {
    /* background-color: #fff2cc; */
    /* padding: 0.1rem; */
    font-style: italic;
}

h2 {
    font-size: 1.2rem;
}

/* Dotted line after section heading */
h2:before {
    content: "\a0";
    display: block;
    padding: 2px 0;
    line-height: 1px;
    border-top: 1px dotted lightgray;
    max-width: 430px;
}

/* Main container for projects */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 3rem;
}

/* Intermediate containers for projects; arranged inside flexbox */
.card-div {
    /* border for debugging */
    /* border: 1px dotted gray; */
    margin-left: 60px;
    /* margin-right: 15px; */
    min-width: 400px;
    min-height: 630px;
    max-width: 400px;

    /*width: 40%;*/                           /* Forces two columns max regardless of screen width */
    position: relative;                   /* Layout for .project within .card-div           */
    top: -5rem;
}

/* Containers for projects themselves */
.project {
    /* padding: 10px; */
    /* border and background for debugging */
    /* border: 1px solid black; */
/*    background-color: #fec; */
    min-width: 400px;
    max-width: 400px;
    height: 600px;
    position: absolute;
    border-radius: 1%;
    /* Allows positioning within .card-div*/
    /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
    opacity: 0;
    background-size: 200%;
    background-position: center;
    transition: opacity .7s ease-in-out .25s,
                margin-top .7s ease-in-out .1s,
                /* transform .7s ease-in-out; */
                background-size .7s ease-in-out;
}

/* Slide up effect for projects when visible */
.project.is-visible {
    opacity: 1;
    margin-top: 0;
}

.project:hover {
    background-size: 220%;
    transition: background-size .7s ease-in-out;
}

.card-container a {
    text-decoration: none;
    color: #333;
}


/* Text style for projects */
.project-text {
    font-size: 1.5em;
    position: absolute;
    background-color: rgba(255, 250, 250, 0.295);
    min-width: 400px;
    margin: 0;
    min-height: 5.25rem;
    padding-top: 3rem;
    padding-left: 2rem;
}

/* Rules for two column layout */
@media only screen and (min-width: 940px) {
    /* Pull second column vertically up (first column has top set) */
    .card-container .card-div:nth-of-type(odd) {
        top: 0;
    }
    /* If there's an odd number of projects, push the last one over to the left */
    .card-container .card-div:last-of-type:nth-child(odd) {
        margin-right: 460px;
    }
}
/* Rules for single column layout */
@media only screen and (max-width: 940px) {
    .card-container {
        justify-content: center;
    }
    .card-div {
        top: 0;
    }
}

footer {
    background-color: #0D0F13;
    flex-basis: 100%;
    height: 12rem;
    text-align: center;
    color: #7F839E;
}

footer h1 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2.5rem;
}

footer a {
    text-decoration: none;
    color: rgb(183, 190, 231);
    font-size: 1rem;
    font-weight: 700;
}

footer a:hover {
    background-color: rgba(183, 190, 231, 0.253);
}

footer .copyright {
    font-size: 0.75rem;
    color: rgba(127, 131, 158, 0.5);
    padding-top: 0.5rem;
}