body {
    /* margin-left: 3em;
    margin-right: 3em; */
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    color: #444444;
}

/* .leftmargin, .rightmargin {
    flex: 1 10vw;
} */

.centercontent {
    flex-basis: 900px;
    max-width: 960px;
    margin: 0 auto;
}

header {
    padding-top: 5.5rem;
}

header .mainhead, header .subhead {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.mainhead h1 {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
    margin-bottom: 0;
}

.subhead .right {
    text-align: right;
}

.avatar {
    width: 3.75rem;
    margin-top: 0.9rem; /* Hack to push avatar down */
    border-radius: 50%;
}

.right a {
    color: slateblue;
    text-decoration: none;
    font-weight: 700;
}

h2 {
    font-size: 1.2rem;
}

/* Dotted line after section heading */
h2:before {
    content: "\a0";
    display: block;
    padding: 2px 0;
    line-height: 1px;
    border-top: 1px dotted lightgray;
    max-width: 430px;
}

/* Main container for projects */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 3rem;
}

/* Intermediate containers for projects; arranged inside flexbox */
.card-div {
    /* border for debugging */
    /* border: 1px dotted gray; */
    margin-left: 60px;
    /* margin-right: 15px; */
    min-width: 400px;
    min-height: 630px;
    max-width: 400px;
    border-radius: 30%;

    /*width: 40%;*/                           /* Forces two columns max regardless of screen width */
    position: relative;                   /* Layout for .project within .card-div           */
    top: -5rem;
}

/* Containers for projects themselves */
.project {
    /* padding: 10px; */
    /* border and background for debugging */
    /* border: 1px solid black; */
/*    background-color: #fec; */
    min-width: 400px;
    max-width: 400px;
    height: 600px;
    position: absolute;                   /* Allows positioning within .card-div            */
    /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
    opacity: 0;
    /* transition: transform 4s .25s cubic-bezier(0,1,.3,1), margin-top .3s .25s ease-out; */
    /* will-change: opacity; */
    /* margin-top: 50px; */
    transform: scale(1);
    transition: opacity .7s ease-in-out .25s,
                margin-top .7s ease-in-out .1s,
                transform .7s ease-in-out;
}

/* Slide up effect for projects when visible */
.project.is-visible {
    opacity: 1;
    margin-top: 0;
}

.project:hover {
    transform: scale(1.05);
    transition: transform .7s ease-in-out;
}


/* Text style for projects */
.project-text {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    width: 250px;
    margin: 0.5rem;

    /* margin-top: 520px;
    margin-left: 1rem; */
    /* color: rgba(80,80,64,.8); */
    /* top: 1em; */
    /* left: .5em; */
    /* Styles for contrasting color effect */
    /* height: inherit;
    background: inherit;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    filter: invert(1) contrast(9) grayscale(1) contrast(9) drop-shadow(.05em .05em orange); */ 
}

/* Rules for multi column layout */
@media only screen and (min-width: 940px) {
    /* Pushes first column vertically down */
    .card-container *:nth-child(odd) .card-div {
        top: 0;
        /* background for debugging */
        /* background-color: aquamarine; */
    }
}


footer {
    background-color: #555;
    flex-basis: 100%;
    height: 8rem;
    text-align: center;
    color: white;
}

footer h1 {
    font-size: 1.5rem;
}

footer a {
    text-decoration: none;
    color: white;
}
